*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

.container{
    height:350px;
    width: 550px;
    background-color: #fff;
    padding:25px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.title{
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.size{
    height: 1090px;
    margin: 0px 100px 40px 80px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 310px;
    /* border: 2px solid black; */
}
.enter{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
    font-size: 40px;
    border-radius: 30px;
    color: #fff;
}

#i{
    background-color:rgb(41, 30, 165);
    border: none;
}
#j{
    background-color:  rgb(122, 214, 18);
    border: none;
}


